#Â  Airbnb Europe Exercise

## Step 1: Importing the data

### Solo Attempt: Importing via CSV Files

To begin I imported the data using the csv package I am familiar with. 
This method worked; however, it is rather clunky.

In [4]:
import pandas as pd
import csv

def open_csv_file(file_path):
    df = pd.read_csv(file_path)
    return df


# athens not included becuase I need to solve the olnly weekdays problem
cities = ['amsterdam', 'barcelona', 'berlin', 'budapest', 'lisbon', 'london', 'paris', 'rome', 'vienna']
week_period = ['weekdays', 'weekends']
data_frames = {}
complete_data = pd.DataFrame()

for i in week_period:
    for city in cities:
        file_path = 'airbnb - '+city+'_'+i+'.csv'
        df = open_csv_file(file_path)
        df['city'] = city
        df['week_period'] = i
        df_name = 'df_'+city+'_'+i
        data_frames[df_name] = df

# Here I introduced a check to see if I had stored the dataframe properly 
# in the dictionary as I was previously having problems overwriting the datafram with a name.
""" for key, value in data_frames.items():
    print(f"Key: {key}, Type of Value: {type(value)}") """
    
for df in data_frames.values():
    complete_data = pd.concat([complete_data, df], axis=0, ignore_index=True)
    """
    id_counter = 0
    complete_data['ID'] = range(id_counter, id_counter + len(df))
    id_counter += len(df)
    """

display(complete_data)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,week_period
0,0,194.033698,Private room,False,True,2,False,1,0,10,...,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam,weekdays
1,1,344.245776,Private room,False,True,4,False,0,0,8,...,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam,weekdays
2,2,264.101422,Private room,False,True,2,False,0,1,9,...,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam,weekdays
3,3,433.529398,Private room,False,True,4,False,0,1,9,...,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam,weekdays
4,4,485.552926,Private room,False,True,2,True,0,0,10,...,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam,weekdays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46422,1794,715.938574,Entire home/apt,False,False,6,False,0,1,10,...,0.530181,0.135447,219.402478,15.712158,438.756874,10.604584,16.37940,48.21136,vienna,weekends
46423,1795,304.793960,Entire home/apt,False,False,2,False,0,0,8,...,0.810205,0.100839,204.970121,14.678608,342.182813,8.270427,16.38070,48.20296,vienna,weekends
46424,1796,637.168969,Entire home/apt,False,False,2,False,0,0,10,...,0.994051,0.202539,169.073402,12.107921,282.296425,6.822996,16.38568,48.20460,vienna,weekends
46425,1797,301.054157,Private room,False,True,2,False,0,0,10,...,3.044100,0.287435,109.236574,7.822803,158.563398,3.832416,16.34100,48.19200,vienna,weekends
46426,1798,133.230489,Private room,False,True,4,True,1,0,10,...,1.263932,0.480903,150.450381,10.774264,225.247293,5.444140,16.39066,48.20811,vienna,weekends

###Â At home attempt: importing using an excel file

During class it became clear that using an excel file to download the data is
quicker as it allows you to downlod all the tabs of data in one go. I am going to implement this here.

In [5]:
import pandas as pd
excel = pd.ExcelFile("https://docs.google.com/spreadsheets/d/1ecopK6oyyb4d_7-QLrCr8YlgFrCetHU7-VQfnYej7JY/export/format=xlxs")
excel_sheet_names = excel.sheet_names
print(excel_sheet_names)

['amsterdam_weekdays', 'amsterdam_weekends', 'athens_weekdays', 'athens_weekends', 'berlin_weekends', 'berlin_weekdays', 'barcelona_weekdays', 'barcelona_weekends', 'budapest_weekdays', 'budapest_weekends', 'lisbon_weekdays', 'lisbon_weekends', 'london_weekdays', 'london_weekends', 'paris_weekdays', 'paris_weekends', 'rome_weekdays', 'rome_weekends', 'vienna_weekdays', 'vienna_weekends']

In [6]:
countrys = {
    'amsterdam' : 'netherlands',
    'athens' : 'greece',
    'berlin' : 'germany',
    'barcelona' : 'spain',
    'budapest' : 'hungary',
    'lisbon' : 'portugal',
    'london' : 'england',
    'rome' : 'italy',
    'vienna' : 'switzerland',
    'paris' : 'france'
}
compiled_data = pd.DataFrame()
    
for name in excel_sheet_names:
    name_df = excel.parse(name)
    city, week_period = name.split('_', 1)
    name_df['city'] = city
    name_df['week_period'] = week_period
    name_df['country'] = countrys[city]
    compiled_data = pd.concat([compiled_data, name_df], axis=0, ignore_index=True)
    

display(compiled_data.head())

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,week_period,country
0,0,194.033698,Private room,False,True,2,False,1,0,10,...,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam,weekdays,netherlands
1,1,344.245776,Private room,False,True,4,False,0,0,8,...,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam,weekdays,netherlands
2,2,264.101422,Private room,False,True,2,False,0,1,9,...,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam,weekdays,netherlands
3,3,433.529398,Private room,False,True,4,False,0,1,9,...,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam,weekdays,netherlands
4,4,485.552926,Private room,False,True,2,True,0,0,10,...,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam,weekdays,netherlands

#### Changing the Name of realSum to Price

In [7]:
compiled_data = compiled_data.rename({'realSum': 'price'}, axis=1)
display(compiled_data.head())

,Unnamed: 0,price,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,week_period,country
0,0,194.033698,Private room,False,True,2,False,1,0,10,...,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam,weekdays,netherlands
1,1,344.245776,Private room,False,True,4,False,0,0,8,...,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam,weekdays,netherlands
2,2,264.101422,Private room,False,True,2,False,0,1,9,...,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam,weekdays,netherlands
3,3,433.529398,Private room,False,True,4,False,0,1,9,...,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam,weekdays,netherlands
4,4,485.552926,Private room,False,True,2,True,0,0,10,...,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam,weekdays,netherlands

#### Removing the first column

In [8]:
compiled_data = compiled_data.drop(compiled_data.columns[0], axis=1)
display(compiled_data.head())

,price,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,...,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,week_period,country
0,194.033698,Private room,False,True,2,False,1,0,10,93,...,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam,weekdays,netherlands
1,344.245776,Private room,False,True,4,False,0,0,8,85,...,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam,weekdays,netherlands
2,264.101422,Private room,False,True,2,False,0,1,9,87,...,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam,weekdays,netherlands
3,433.529398,Private room,False,True,4,False,0,1,9,90,...,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam,weekdays,netherlands
4,485.552926,Private room,False,True,2,True,0,0,10,98,...,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam,weekdays,netherlands

### For later: advanced data wrangling

+ Instead of having two columns of room_shared and room_private, create one with the respective categories.

+ Instead of dummy variables, create a column where one can know if the host of the listing has only one, two, four, and more than four listings.

###Â Side Note: importing directly from Google Sheets (Pei's Solution)

This is maybe a bit beyond my capabilities atm but I wanted to include it here so I can come back and look at it in the future. ++ translate the comments!

In [140]:
"""

import pandas as pd
from IPython.display import display

# ä½ ç Google Sheets æä»¶ç ID
sheet_id = '2PACX-1vSZoyiKakb771FtKQ0FQ_l5XAUmGZsFH6cn0JWszNsumTk2KybV00LQLfkiMaLU3yyYvqBP3mkJjteU'  # æ¿æçºå¯¦éç sheet ID

# ææè¡¨å®ç gid
gids = [1813557111, 1671143450, 1474041232, 295085637, 1009970054, 1739828988, 305266500, 1438277999, 1326018133, 82202766, 1355881051, 9179440, 58206735, 1452107999, 1803477090, 1127044053, 1238155247, 671930913, 1950822222]  # æ¿æçºå¯¦éç gid

# å²å­è®åç DataFrame
dfs = {}

# è¿´åè®åæ¯åè¡¨å®çè³æ
for gid in gids:
    # çææ¯åè¡¨å®ç CSV URL
    url = f'https://docs.google.com/spreadsheets/d/e/{sheet_id}/pub?gid={gid}&output=csv'
    
    try:
        # è®å CSV è³æ
        df = pd.read_csv(url)

        dfs[gid] = df  # å°çµæå²å­å°å­å¸ä¸­ï¼gid ä½çºéµ
        
        print(f"GID {gid} è³æè®åæå")
        # print(df.head())  # é¡¯ç¤ºåå¹¾è¡è³æ
        display(df)
       
    except Exception as e:
        print(f"GID {gid} è³æè®åå¤±æ: {e}")

# å¯ä»¥éé dfs[gid] è¨ªåç¹å® GID ç DataFrame

"""

'\n\nimport pandas as pd\nfrom IPython.display import display\n\n# ä½ ç Google Sheets æä»¶ç ID\nsheet_id = \'2PACX-1vSZoyiKakb771FtKQ0FQ_l5XAUmGZsFH6cn0JWszNsumTk2KybV00LQLfkiMaLU3yyYvqBP3mkJjteU\'  # æ¿æçºå¯¦éç sheet ID\n\n# ææè¡¨å®ç gid\ngids = [1813557111, 1671143450, 1474041232, 295085637, 1009970054, 1739828988, 305266500, 1438277999, 1326018133, 82202766, 1355881051, 9179440, 58206735, 1452107999, 1803477090, 1127044053, 1238155247, 671930913, 1950822222]  # æ¿æçºå¯¦éç gid\n\n# å²å­è®åç DataFrame\ndfs = {}\n\n# è¿´åè®åæ¯åè¡¨å®çè³æ\nfor gid in gids:\n    # çææ¯åè¡¨å®ç CSV URL\n    url = f\'https://docs.google.com/spreadsheets/d/e/{sheet_id}/pub?gid={gid}&output=csv\'\n    \n    try:\n        # è®å CSV è³æ\n        df = pd.read_csv(url)\n\n        dfs[gid] = df  # å°çµæå²å­å°å­å¸ä¸­ï¼gid ä½çºéµ\n        \n        print(f"GID {gid} è³æè®åæå")\n        # print(df.head())  # é¡¯ç¤ºåå¹¾è¡è³æ\n        display(df)\n       \n    except Exception as e:\n        print(f"GID {gid} è³æè®åå¤±æ: {e}")\n\n# å¯ä»¥éé dfs[gid] è¨ªåç¹å® GID ç DataFrame\n\n'

##Â Exploratory questions

### 1. How many listings are in each city in total and also per type of day?

In [9]:
display(compiled_data)

def sum_listings(condition):
    number_of_listings = compiled_data.query(condition).shape[0]
    return number_of_listings

weekday_condition = "& week_period == 'weekdays'"
weekend_condition = "& week_period == 'weekends'"
#Â Listings per city and day type
for place in countrys: 
    city_condition = f"city == '{place}'"
    
    total_booking_city = sum_listings(city_condition)
    weekdays_booking_city = sum_listings((city_condition+weekday_condition))
    weekend_booking_city = sum_listings((city_condition+weekend_condition))

    #This code is not ideal because it deletes something I've already done and makes a more complicated nested dictionary.
    countrys[place] = {
        'total_bookings': total_booking_city,
        'weekdays_bookings': weekdays_booking_city,
        'weekend_bookings': weekend_booking_city
    }
    
    print(f"The total listings per day in {place} are {total_booking_city}")
    print(f"The total listings on weekdays in {place} are {weekdays_booking_city}")
    print(f"The total listings on weekdends in {place} are {weekend_booking_city}")
    print("-" * 50)

,price,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,...,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,week_period,country
0,194.033698,Private room,False,True,2,False,1,0,10,93,...,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam,weekdays,netherlands
1,344.245776,Private room,False,True,4,False,0,0,8,85,...,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam,weekdays,netherlands
2,264.101422,Private room,False,True,2,False,0,1,9,87,...,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam,weekdays,netherlands
3,433.529398,Private room,False,True,4,False,0,1,9,90,...,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam,weekdays,netherlands
4,485.552926,Private room,False,True,2,True,0,0,10,98,...,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam,weekdays,netherlands
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51702,715.938574,Entire home/apt,False,False,6,False,0,1,10,100,...,0.135447,219.402478,15.712158,438.756874,10.604584,16.37940,48.21136,vienna,weekends,switzerland
51703,304.793960,Entire home/apt,False,False,2,False,0,0,8,86,...,0.100839,204.970121,14.678608,342.182813,8.270427,16.38070,48.20296,vienna,weekends,switzerland
51704,637.168969,Entire home/apt,False,False,2,False,0,0,10,93,...,0.202539,169.073402,12.107921,282.296424,6.822996,16.38568,48.20460,vienna,weekends,switzerland
51705,301.054157,Private room,False,True,2,False,0,0,10,87,...,0.287435,109.236574,7.822803,158.563398,3.832416,16.34100,48.19200,vienna,weekends,switzerland
51706,133.230489,Private room,False,True,4,True,1,0,10,93,...,0.480903,150.450381,10.774264,225.247293,5.444140,16.39066,48.20811,vienna,weekends,switzerland

The total listings per day in amsterdam are 2080
The total listings on weekdays in amsterdam are 1103
The total listings on weekdends in amsterdam are 977
--------------------------------------------------
The total listings per day in athens are 5280
The total listings on weekdays in athens are 2653
The total listings on weekdends in athens are 2627
--------------------------------------------------
The total listings per day in berlin are 2484
The total listings on weekdays in berlin are 1284
The total listings on weekdends in berlin are 1200
--------------------------------------------------
The total listings per day in barcelona are 2833
The total listings on weekdays in barcelona are 1555
The total listings on weekdends in barcelona are 1278
--------------------------------------------------
The total listings per day in budapest are 4022
The total listings on weekdays in budapest are 2074
The total listings on weekdends in budapest are 1948
--------------------------------------------------
The total listings per day in lisbon are 5763
The total listings on weekdays in lisbon are 2857
The total listings on weekdends in lisbon are 2906
--------------------------------------------------
The total listings per day in london are 9993
The total listings on weekdays in london are 4614
The total listings on weekdends in london are 5379
--------------------------------------------------
The total listings per day in rome are 9027
The total listings on weekdays in rome are 4492
The total listings on weekdends in rome are 4535
--------------------------------------------------
The total listings per day in vienna are 3537
The total listings on weekdays in vienna are 1738
The total listings on weekdends in vienna are 1799
--------------------------------------------------
The total listings per day in paris are 6688
The total listings on weekdays in paris are 3130
The total listings on weekdends in paris are 3558
--------------------------------------------------

### 2. Which city has the biggest proportion of superhosts?

In [10]:
def proportion_superhosts(place):
    number_of_hosts = countrys[place]['total_bookings']
    number_of_superhosts = compiled_data.query("host_is_superhost == True").shape[0]
    proportion_of_superhosts = number_of_superhosts / number_of_hosts
    return proportion_of_superhosts

for place in countrys: 
    proportion_of_superhosts = proportion_superhosts(place)
    print (f'The proporiton of superhosts in {place} is {proportion_of_superhosts}')
    countrys[place]['superhosts_proportion'] = proportion_of_superhosts

The proporiton of superhosts in amsterdam is 6.361538461538461
The proporiton of superhosts in athens is 2.506060606060606
The proporiton of superhosts in berlin is 5.326892109500805
The proporiton of superhosts in barcelona is 4.6706671373102715
The proporiton of superhosts in budapest is 3.289905519641969
The proporiton of superhosts in lisbon is 2.296026375151831
The proporiton of superhosts in london is 1.3241268888221756
The proporiton of superhosts in rome is 1.4658247479782873
The proporiton of superhosts in vienna is 3.741023466214306
The proporiton of superhosts in paris is 1.9784688995215312

In [249]:
#### Finding the max value 

countries_df = pd.DataFrame(countrys)
countries_df = countries_df.transpose()

max_proporiton = countries_df['superhosts_proportion'].max()
city_with_max_value = countries_df['superhosts_proportion'].idxmax()
print(f"The city with the maximum superhosts proportion is {city_with_max_value} with a value of {max_proporiton}.")

The city with the maximum superhosts proportion is amsterdam with a value of 6.361538461538461.

### 3. Which cities have listings with more than four rooms?

### 4. Which city has the most entire home/apt type listings?
### 5. Are ratings typically high across listings, or is there a wide variation?
### 6. How does person_capacity vary across listings? What is the most common capacity of listings?
### 7. Plot the distribution of realSum for both weekday and weekend offers. Is it normally distributed, skewed, or multimodal? If skewed, consider using transformations (e.g., log transformation) to normalize it.
### 8. Plot the distribution of guest_satisfaction_overall ratings. 
### 9. Examine the distribution of cleanliness_rating.

## Testing the Data

### Is there a difference in price between two cities? Choose at least three pairs of cities during weekdays.

#### Paris vs Budapest

Hypothesis: Paris is more expensive on average than Budapest

In [25]:
from scipy.stats import ttest_ind

def city_prices(city_name):
    city_df = compiled_data[compiled_data['city'] == city_name]
    city_prices = city_df['price']
    return city_prices

paris_prices = city_prices('paris')
budapest_prices = city_prices('budapest')

t_statistic, p_value = ttest_ind(paris_prices, budapest_prices, alternative='greater') 

print(f"t-statistic: {t_statistic}")
print(f"P-value: {p_value}")

if p_value < 0.05:
    print("Paris is significantly more expensive than Budapest.")
else:
    print("Paris is not significantly more expensive than Budapest.")

t-statistic: 39.56833815405047
P-value: 0.0
Paris is significantly more expensive than Budapest.

#### Paris vs Amsterdam

Hypothesis: Paris is more expensive on average than Amsterdam

In [32]:
paris_prices = city_prices('paris')
amsterdam_prices = city_prices('amsterdam')

t_statistic, p_value = ttest_ind(paris_prices, amsterdam_prices, alternative='greater') 

print(f"t-statistic: {t_statistic}")
print(f"P-value: {p_value}")

if p_value < 0.05:
    print("Paris is significantly more expensive than Amsterdam.")
else:
    print("Paris is not significantly more expensive than Amsterdam.")

t-statistic: -20.141087286808244
P-value: 1.0
Paris is not significantly more expensive than Amsterdam.

Hypothesis: Amsterdam is significantly more expensive than Paris.

In [42]:
t_statistic, p_value = ttest_ind(paris_prices, amsterdam_prices, alternative='less') 

print(f"t-statistic: {t_statistic}")
print(f"P-value: {p_value}")

if p_value < 0.05:
    print("Paris is significantly less expensive than Amsterdam.")
else:
    print("Paris is not significantly less expensive than Amsterdam.")

t-statistic: -20.141087286808244
P-value: 1.5643916771088106e-88
Paris is significantly less expensive than Amsterdam.

### Does the price tend to be higher on weekends?

Hypothesis: the price tends to be higher on weekends

In [40]:
def week_period_prices(week_time):
    week_period_df = compiled_data[compiled_data['week_period'] == week_time]
    week_period_prices = week_period_df['price']
    return week_period_prices

weekend_prices = week_period_prices('weekends')
weekday_prices = week_period_prices('weekdays')

t_statistic, p_value = ttest_ind(weekend_prices, weekday_prices, alternative='greater') 

print(f"t-statistic: {t_statistic}")
print(f"P-value: {p_value}")

if p_value < 0.05:
    print("Weekends are significantly more expensive than weekdays.")
else:
    print("Weekends are not significantly more expensive than weekdays.")

t-statistic: 2.8712504244321893
P-value: 0.002045087517232957
Weekends are significantly more expensive than weekdays.

### Are listings of superhosts more expensive than those of normal hosts?

Hypothesis: Superhosts are more expensive than those of normal hosts

In [48]:
def host_prices(host_type):
    superhost_df = compiled_data[compiled_data['host_is_superhost'] == host_type]
    host_type_prices = superhost_df['price']
    return host_type_prices

superhost_prices = host_prices(True)
non_superhost_prices = host_prices(False)

t_statistic, p_value = ttest_ind(superhost_prices, non_superhost_prices, alternative='greater') 

print(f"t-statistic: {t_statistic}")
print(f"P-value: {p_value}")

if p_value < 0.05:
    print("Sueprhosts are significantly more expensive than non-superhosts.")
else:
    print("Sueprhosts are not significantly more expensive than non-superhosts.")

t-statistic: -10.351807657931387
P-value: 1.0
Sueprhosts are not significantly more expensive than non-superhosts.

Hypothesis: there is no significant difference in price between hosts and superhosts.

In [49]:
t_statistic, p_value = ttest_ind(superhost_prices, non_superhost_prices) 

print(f"t-statistic: {t_statistic}")
print(f"P-value: {p_value}")

if p_value < 0.05:
    print("There is a significant difference in price between hosts and superhosts.")
else:
    print("There is no significant difference in price between hosts and superhosts.")

t-statistic: -10.351807657931387
P-value: 4.345180871028599e-25
There is a significant difference in price between hosts and superhosts.

Hypotheis: superhosts are significantly less expsensive than hosts

In [50]:
t_statistic, p_value = ttest_ind(superhost_prices, non_superhost_prices, alternative='less') 

print(f"t-statistic: {t_statistic}")
print(f"P-value: {p_value}")

if p_value < 0.05:
    print("Sueprhosts are significantly cheaper than non-superhosts.")
else:
    print("Sueprhosts are not significantly cheaper than non-superhosts.")

t-statistic: -10.351807657931387
P-value: 2.1725904355142993e-25
Sueprhosts are significantly cheaper than non-superhosts.

### Are superhosts closer to the city center and metro station than normal hosts?

Hypothesis: superhosts are closer to the city centre and metro station than normal hosts

In [74]:
def average_price_per_city(city):
    average_price = complete_data[complete_data['city'] == city]['realSum'].mean()
    print(f'The average price in {city} is Â£{average_price}')

In [75]:
average_price_per_city('paris')

The average price in paris is Â£392.53140300635164

In [76]:
average_price_per_city('budapest')

The average price in budapest is Â£176.51354828218297

###Â Are superhosts cleaner than normal hosts?

### Is there a pattern between room types and superhost status?

Hypothesis: There is a pattern between room types and superhost status.

Two catagorical variables; therefore, test using chi-square test.

In [61]:
from scipy.stats import chi2_contingency 
import pandas

# Need to make a datafram containing just the room_type and host_is_superhost values
room_and_host_df = compiled_data[['room_type', 'host_is_superhost']]

print(room_and_host_df.head())

# Need to make a contingency table, as the chi2 test doesn't take string values
chisqt = pd.crosstab(room_and_host_df['room_type'], room_and_host_df['host_is_superhost'], margins=True)
print(chisqt)

chi2_stat, p_value, dof, expected = chi2_contingency(chisqt.iloc[:-1, :-1])  

print(f"Chi-squared Statistic: {chi2_stat}")
print(f"P-value: {p_value}")

significance_level = 0.05

if p_value <= significance_level:
    print('Reject NULL HYPOTHESIS: There is a significant association between room type and superhost status.')
else:
    print('ACCEPT NULL HYPOTHESIS: There is no significant association between room type and superhost status.')

      room_type  host_is_superhost
0  Private room              False
1  Private room              False
2  Private room              False
3  Private room              False
4  Private room               True
host_is_superhost  False   True    All
room_type
Entire home/apt    23704   8944  32648
Private room       14446   4247  18693
Shared room          325     41    366
All                38475  13232  51707
Chi-squared Statistic: 176.54066965543066
P-value: 4.620411632426391e-39
Reject NULL HYPOTHESIS: There is a significant association between room type and superhost status.

Therefore, we can accept the hypothesis.

### Is it more expensive to rent an entire home/apt than a private room? Does that depend on the city?